/* --------------------
        全体
-------------------- */

:root {
  --main-color: #a52a2;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

        event {
            position: relative;
            width: 45%;
            margin-bottom: 50px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 12px;
            box-shadow: 0 10px 30px rgba(255,255,255,0.1);
            backdrop-filter: blur(10px);
            transition: transform 0.3s ease;
        }

body {
  margin: auto;
  padding: 30px;
  color: #000033;
  background: #f5f5dc;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--main-color);
  border-bottom: dashed 0.1em var(--main-color);
}
/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
