/* --------------------
        全体
-------------------- */

:root {
  --main-color: #a52a2a;
  --theme-color: #333399; /* 例として青系を設定 */
}



html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: auto;
  padding: 30px;
  color: #000033;
  background: #f5f5dc;
}



/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--main-color);
  border-bottom: dashed 0.1em var(--main-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}

li:before {
  content: "😒";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}

tr {
  background-color: #fff;
}

tr:nth-child(2n) {
  background-color: #f9f9f9;
}

th {
  background: var(--theme-color);
  color: #fff;
}

th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
